{% extends 'layout.html' %}

{% block body %}
<div class="container">
  <div class="card mahjong-theme" style="width: 30%;">
    <h2>File Upload</h2>
    <form action="/" method="POST" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="formFile" class="form-label">Choose a jpg file</label>
        <input class="form-control" type="file" id="formFile" name="upload_file" accept="image/jpg">
      </div>
      <button type="submit" class="btn btn-primary" disabled="true"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
        Upload
      </button>
    </form>
    {% if upload %}
    <div>
      <h3>Source</h3>
      <p>{{ filename }}</p>
      <img src="{{ upload_path }}" alt="Source Image"/>
    </div>
    {% endif %}
  </div>
  <div class="card mahjong-theme" style="width: 60%;">
    <h2>Result</h2>
    {% if upload %}
    <img src="{{ image_path }}" alt="Prediction Image"/>
    {% else %}
    <p>No image to display</p>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  document.querySelector("input[type=file]").onchange = ({
    target: { value },
  }) => {
    document.querySelector("button[type=submit]").disabled = !value;
  };
</script>
{% endblock %}