{% extends 'layout.html' %}

{% block body %}
<div class="row row-cols-1 row-cols-md-2 g-4">
  <!-- Upload card -->
  <div id="upload-card" class="col w-25" style="min-width: 15rem;">
    <div class="card border-secondary p-2">
      <form id="uploadForm" action="/upload" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="formFile" class="form-label">Upload Image</label>
          <input class="form-control" type="file" id="formFile" name="upload_file" accept="image/jpg" required>
          <button type="submit" class="btn btn-primary mt-1" disabled="true"
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
            Upload
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- Result card -->
  <div id="result-card" class="col w-75">
    <div class="card border-secondary">
      <div class="card-header">Result</div>
      <div class="m-2 position-relative">
        <div id="img-load" class="placeholder-box" style="display: none;">
          <div class="spinner-grow" role="status" style="animation-duration: 2s;">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <img id="uploadImage" class="w-100 flex-shrink-1 rounded" alt="Uploaded Image" style="display: none;">
        <img id="predictImage" class="w-100 flex-shrink-1 rounded" alt="Prediction Image" style="display: none;">
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    document.querySelector("input[type=file]").onchange = ({
      target: { value },
    }) => {
      document.querySelector("button[type=submit]").disabled = !value;
    };
  });
  $(document).ready(function() {
    $('#uploadForm').submit(function(event) {
      event.preventDefault();
      var formData = new FormData(this);
      $.ajax({
        url: '/upload',
        type: 'POST',
        data: formData,
        contentType: false,
        processData: false,
        success: function(response) {
          $('#img-load').show();
          $('#uploadImage').attr('src', response.upload_path).show();
          $('#predictImage').hide();
          startPrediction(response.filename);
        },
        error: function() {
          alert('File upload failed');
        }
      });
    });
  });

  function startPrediction(filename) {
    $.ajax({
      url: `/predict/${filename}`,
      type: 'GET',
      success: function(response) {
        $('#img-load').hide();
        $('#predictImage').attr('src', response.prediction_path).show();
        $('#uploadImage').hide();
      },
      error: function() {
        alert('Prediction failed');
      }
    });
  }
</script>
{% endblock %}
