{% extends 'layout.html' %}

{% block body %}
<div class="row row-cols-1 row-cols-md-2 g-4">
  <!-- Upload card -->
  <div id="upload-card" class="col w-25" style="min-width: 15rem;">
    <div class="card border-secondary p-2">
      <form id="uploadForm" action="/upload" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="formFile" class="form-label">Upload Image</label>
          <input class="form-control" type="file" id="formFile" name="upload_file" accept="image/jpg" required>
          <button type="submit" class="btn btn-success mt-3" disabled="true">
            Upload
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- Result card -->
  <div id="result-card" class="col w-75">
    <div class="card border-secondary">
      <div class="card-header">Result</div>
      <div class="m-2 position-relative">
        <div id="img-load" class="placeholder-box" style="display: none;">
          <div class="spinner-grow" role="status" style="animation-duration: 2s;">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <img id="uploadImage" class="w-100 flex-shrink-1 rounded" alt="Uploaded Image" style="display: none;">
        <img id="predictImage" class="w-100 flex-shrink-1 rounded" alt="Prediction Image" style="display: none;">
        <div id="result-info"></div>
        <div id="tile-images" class="mt-2"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    document.querySelector("input[type=file]").onchange = ({
      target: { value },
    }) => {
      document.querySelector("button[type=submit]").disabled = !value;
    };
  });
  $(document).ready(function() {
    $('#uploadForm').submit(function(event) {
      event.preventDefault();
      var formData = new FormData(this);
      $.ajax({
        url: '/upload',
        type: 'POST',
        data: formData,
        contentType: false,
        processData: false,
        success: function(response) {
          $('#result-info').empty();
          $('#tile-images').empty();
          $('#img-load').show();
          $('#uploadImage').attr('src', response.upload_path).show();
          $('#predictImage').hide();
          startPrediction(response.filename);
        },
        error: function() {
          alert('File upload failed');
        }
      });
    });
  });

  function startPrediction(filename) {
    $.ajax({
      url: `/predict/${filename}`,
      type: 'GET',
      success: function(response) {
        $('#img-load').hide();
        $('#predictImage').attr('src', response.prediction_path).show();
        $('#uploadImage').hide();
        displayResults(response.results);
      },
      error: function() {
        alert('Prediction failed');
      }
    });
  }

  function displayResults(results) {
    const tileOrder = [
      'sd1', 'sd2', 'sd3', 'sd4', 'sd5', 'sd6', 'sd7', 'sd8', 'sd9',
      'sb1', 'sb2', 'sb3', 'sb4', 'sb5', 'sb6', 'sb7', 'sb8', 'sb9',
      'sc1', 'sc2', 'sc3', 'sc4', 'sc5', 'sc6', 'sc7', 'sc8', 'sc9',
      'hwe', 'hws', 'hww', 'hwn', 'hdr', 'hdg', 'hdw',
      'bs1', 'bs2', 'bs3', 'bs4',
      'bf1', 'bf2', 'bf3', 'bf4'
    ];

    let resultInfoDiv = $('#result-info');
    let tileImagesDiv = $('#tile-images');
    resultInfoDiv.empty();
    tileImagesDiv.empty();

    if (results && Object.keys(results).length > 0) {
      tileOrder.forEach(label => {
        if (results[label]) {
          let imgPath = `/static/assets/mahjong_tiles/${label}.png`;
          for (let i = 0; i < results[label].freq; ++i) {
            tileImagesDiv.append(`<img src="${imgPath}" alt="${label}">`);
          }
        }
      });
      resultInfoDiv.append('<h5>Detection Results</h5>');
    } else {
      resultInfoDiv.append('<p>No detections found.</p>');
    }
  }

</script>
{% endblock %}
